<section id="home" class="hero">
  <div class="mountain-bg"></div>

  <div class="container">
    <div class="hero-content">
      <div class="hero-text" data-aos="fade-right">
        <p class="intro">Hola, soy</p>
        <h1>Diego Alejandro</h1>
        <h2>Desarrollador Full Stack</h2>
        <p>Apasionado por crear experiencias digitales modernas, rápidas y adaptables.</p>

       <div class="hero-btns">
  <button
    pButton
    type="button"
    class="btn btn-primary"
    label="Contáctame"
    (click)="scrollToContact()"
  ></button>

  <button
    pButton
    type="button"
    class="btn btn-secondary"
    icon="pi pi-download"
    label="Ver CV"
  ></button>
</div>


        <div class="social-icons">
          <a href="https://github.com/diego0604" target="_blank" aria-label="GitHub"><i class="pi pi-github"></i></a>
          <a href="#" aria-label="LinkedIn"><i class="pi pi-linkedin"></i></a>
          <a href="#" aria-label="Twitter"><i class="pi pi-twitter"></i></a>
        </div>
      </div>

      <div class="hero-image" data-aos="fade-left">
        <div class="image-container">
          <img src="assets/images/diegod.png" alt="Diego Alejandro" />
        </div>
      </div>
    </div>
  </div>
</section>
